<h1>Hello from bigie</h1>
<p>this is my first app with rails</p>

<p><h3>other links :</h3>
	<%= link_to "user", users_path %><br>
	<%= link_to "micropost", microposts_path %><br>
	<%= link_to "exit", say_godbye_path %>
</p>